.rankingHeader {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  color: var(--title);
}

@media (max-width: 450px) {
  .rankingHeader {
    margin-top: 3rem;
  }
}
