.rankingTitles {
  font-size: 1rem;
  line-height: 0.9rem;
  color: var(--text);
  font-weight: bold;
  opacity: 0.5;

  display: grid;
  grid-template-columns: 4.5rem 1fr 12rem 9rem;
  margin-bottom: 1.5rem;
}

.rankingTitles span {
  text-align: left;
  text-transform: uppercase;
}

.rankingTitles span:nth-child(2) {
  margin-left: 3rem;
}
