.rankingTitles {
  font-size: 0.875rem;
  line-height: 0.9rem;
  color: var(--text);
  font-weight: bold;
  opacity: 0.5;

  display: grid;
  grid-template-columns: 4.5rem 1fr;
  margin-bottom: 0.8rem;
  gap: 4px;
}

.rankingTitles span {
  text-align: left;
  text-transform: uppercase;
}

.rankingTitles div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfo {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;

  padding: 1rem 1.5rem;
}

@media (max-width: 876px) {
  .rankingTitles {
    font-size: 0.75rem;
  }
}

@media (max-width: 425px) {
  .userInfo {
    padding: 0.5rem 1rem;
  }

  .rankingTitles {
    font-size: 0.6rem;
    grid-template-columns: 4rem 1fr;
  }
}

@media (max-width: 374px) {
  .rankingTitles {
    font-size: 0.6rem;
    grid-template-columns: 3.5rem 1fr;
  }

  .userInfo {
    padding: 0.2rem 0.6rem;
  }
}
