.sideBarContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 7rem;
  background-color: var(--white);

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideBarHeader {
  position: absolute;
  top: 2rem;
}

.sideBarHeader svg {
  cursor: pointer;
}

.sideBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
}

.sideBarLinks button {
  background: transparent;
  border-color: transparent;
  outline-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  width: 100%;
}

.sideBarLinks button svg {
  font-size: 2rem;
  color: var(--text);
  opacity: 0.5;

  transition: all 0.2s ease-in-out;
}

/* hover effect */
.sideBarLinks button:hover svg {
  opacity: 1;
  color: var(--blue);
}

/* Active links */
.sideBarLinks .linkActive {
  border-left-color: var(--blue);
  border-left-width: 4px;
  border-right-width: 4px;
}

.sideBarLinks .linkActive svg {
  opacity: 1;
  color: var(--blue);
}

/* loggout button  */
.sideBarLogout {
  position: absolute;
  bottom: 2rem;
  transform: rotate(180deg);
  font-size: 2.4rem;
  color: var(--blue);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.sideBarLogout:hover {
  color: var(--red);
}
