.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container .homeSection {
  flex: 1;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
}

@media (max-width: 1230px) {
  .container {
    max-width: 51.5rem;
  }

  .container .homeSection {
    gap: 4.25rem;
  }
}

@media (max-width: 924px) {
  .container {
    max-width: 48rem;
  }

  .container .homeSection {
    gap: 3.25rem;
  }
}

@media (max-width: 876px) {
  .container {
    max-width: 42rem;
  }
}

@media (max-width: 830px) {
  .container {
    max-width: 40rem;
  }

  .container .homeSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 4.25rem;
  }
}

@media (max-width: 608px) {
  .container {
    max-width: 412px;
  }

  .container .homeSection {
    gap: 2.5rem;
  }
}
