.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--blue);
}

.container .loginSection {
  height: 100%;
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 7.5rem;
}

@media (max-width: 1230px) {
  .container .loginSection {
    gap: 2.5rem;
  }
}

@media (max-width: 1030px) {
  .container .loginSection {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .container .loginSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .loginSection div:nth-child(2) {
    z-index: 2;
  }
}
